Repository LukeMathWalker/si, changes with the labels that .github/labeler.yml gives for each.
All labels: A-ci, A-docs, A-web, A-cyclone, A-sdf, A-veritech, A-pinga, A-council, A-lang-js, A-si-discord-bot, A-bytes-lines-codec, A-config-file, A-dal, A-dal-test, A-deadpool-cyclone, A-si-data-faktory, A-si-data-nats, A-si-data-pg, A-si-settings, A-si-std, A-si-test-macros, A-telemetry-application-rs, A-telemetry-rs, A-nats, A-otelcol, A-postgres, A-skopeo

feat(web,dal,sdf,lang-js): Add Secrets and SecretDefinition to prop tree and asset builder
  bin/lang-js/src/asset_builder.ts
  bin/lang-js/src/sandbox.ts
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/sdf-server/src/server/service/ts_types/asset_types.d.ts
  lib/si-pkg/src/node/schema_variant.rs
  lib/si-pkg/src/node/schema_variant_child.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/prop.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-lang-js, A-dal

Refine helper method for finding the `Ordering` node for a container, if it has one
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

Clean up use statements in node weights for workspace snapshot graph
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
Labels: A-dal

Include information encoded in EdgeWeights in WorkspaceSnapshotGraph merkle tree hashes
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

Initial implementation of ordered child nodes in workspace graph
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
Labels: A-dal

Add first complex test for graph work and prune existing tests
  lib/dal/BUCK
  lib/dal/src/content/hash.rs
  lib/dal/src/workspace_snapshot/conflict.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/update.rs
Labels: A-dal

Detect when a workspace snapshot has added an ordered child & rebasing onto one that removed a sibling of the new child
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
Labels: A-dal

Test removing ordered children from ordered containers
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

Refactor consumer for use in the gobbler
  Cargo.lock
  lib/gobbler-server/Cargo.toml
  lib/gobbler-server/tests/integration.rs
  lib/gobbler-server/tests/integration_test/connection.rs
  lib/gobbler-server/tests/integration_test/mod.rs
  lib/gobbler-server/tests/integration_test/produce_and_consume.rs
  lib/gobbler-server/tests/integration_test/queue.rs
  lib/si-rabbitmq/src/consumer.rs
  lib/si-rabbitmq/src/environment.rs
  lib/si-rabbitmq/src/error.rs
  lib/si-rabbitmq/src/producer.rs
Labels: A-cyclone, A-sdf, A-veritech, A-pinga, A-council, A-bytes-lines-codec, A-config-file, A-dal, A-dal-test, A-deadpool-cyclone, A-si-data-faktory, A-si-data-nats, A-si-data-pg, A-si-settings, A-si-std, A-si-test-macros, A-telemetry-application-rs, A-telemetry-rs

Test basic conflict & update detection with ordered containers
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
Labels: A-dal

Fix buck2 compilation errors by moving rebaser-client tests
  Cargo.lock
  lib/dal/BUCK
  lib/rebaser-client/BUCK
  lib/rebaser-client/Cargo.toml
  lib/rebaser-core/BUCK
  lib/rebaser-core/Cargo.toml
  lib/rebaser-core/src/lib.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/lib.rs
  lib/rebaser-server/tests/integration_test/client.rs
  lib/rebaser-server/tests/integration_test/mod.rs
Labels: A-cyclone, A-sdf, A-veritech, A-pinga, A-council, A-bytes-lines-codec, A-config-file, A-dal, A-dal-test, A-deadpool-cyclone, A-si-data-faktory, A-si-data-nats, A-si-data-pg, A-si-settings, A-si-std, A-si-test-macros, A-telemetry-application-rs, A-telemetry-rs

Add the RabbitMQ README with notes on our image
  component/rabbitmq/README.md
Labels: none

Fix test logic to perform a replace subgraph update
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

Detect conflicting ordering updates for containers with Ordering nodes
  lib/dal/src/workspace_snapshot/conflict.rs
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

Ensure vector clocks are updated when updating node content
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
Labels: A-dal

Fix gobbler-server compilation by removing Subscription
  lib/gobbler-server/src/server.rs
Labels: none

Add gobbler client/server architecture
  Cargo.lock
  Cargo.toml
  lib/gobbler-client/BUCK
  lib/gobbler-client/Cargo.toml
  lib/gobbler-client/src/client.rs
  lib/gobbler-client/src/lib.rs
  lib/gobbler-server/Cargo.toml
  lib/gobbler-server/src/config.rs
  lib/gobbler-server/src/lib.rs
  lib/gobbler-server/src/server.rs
  lib/gobbler-server/tests/integration_test/mod.rs
  lib/gobbler-server/tests/integration_test/queue.rs
  lib/si-rabbitmq/src/consumer.rs
  lib/si-rabbitmq/src/delivery.rs
  lib/si-rabbitmq/src/environment.rs
  lib/si-rabbitmq/src/error.rs
  lib/si-rabbitmq/src/lib.rs
  lib/si-rabbitmq/src/producer.rs
Labels: A-cyclone, A-sdf, A-veritech, A-pinga, A-council, A-bytes-lines-codec, A-config-file, A-dal, A-dal-test, A-deadpool-cyclone, A-si-data-faktory, A-si-data-nats, A-si-data-pg, A-si-settings, A-si-std, A-si-test-macros, A-telemetry-application-rs, A-telemetry-rs

Rename gobbler to rebaser
  .ci/docker-compose.test-integration.yml
  Cargo.lock
  Cargo.toml
  bin/rebaser/BUCK
  bin/rebaser/Cargo.toml
  bin/rebaser/Dockerfile
  bin/rebaser/src/args.rs
  bin/rebaser/src/main.rs
  component/postgres/BUCK
  dev/docker-compose.platform.yml
  lib/rebaser-client/BUCK
  lib/rebaser-client/Cargo.toml
  lib/rebaser-client/src/client.rs
  lib/rebaser-client/src/lib.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/lib.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/tests/integration.rs
  lib/rebaser-server/tests/integration_test/connection.rs
  lib/rebaser-server/tests/integration_test/mod.rs
  lib/si-test-macros/src/lib.rs
Labels: A-ci, A-cyclone, A-sdf, A-veritech, A-pinga, A-council, A-bytes-lines-codec, A-config-file, A-dal, A-dal-test, A-deadpool-cyclone, A-si-data-faktory, A-si-data-nats, A-si-data-pg, A-si-settings, A-si-std, A-si-test-macros, A-telemetry-application-rs, A-telemetry-rs, A-postgres

Test view generation for maps in WorkspaceSnapshotGraph
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

Fix "buck2 build //lib/..." for gobbler
  lib/gobbler-client/BUCK
Labels: none

Initial AttributeView support in WorkspaceSnapshotGraph
  lib/dal/src/content.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
Labels: A-dal

Add working RabbitMQ connection for the Gobbler
  component/rabbitmq/BUCK
  component/rabbitmq/Dockerfile
  dev/docker-compose.platform.yml
  lib/gobbler-server/BUCK
  lib/si-rabbitmq/src/connection.rs
  third-party/rust/BUCK
Labels: none

Ensure we can produce messages to RabbitMQ
  component/rabbitmq/BUCK
  dev/docker-compose.platform.yml
  lib/gobbler-server/tests/integration_test/connection.rs
  lib/gobbler-server/tests/integration_test/produce_and_consume.rs
  lib/si-rabbitmq/src/consumer.rs
  lib/si-rabbitmq/src/environment.rs
  lib/si-rabbitmq/src/lib.rs
  lib/si-rabbitmq/src/producer.rs
Labels: none

Fix naming of variable & debug text in ContentNodeWeight
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
Labels: A-dal

Expand testing of ordered containers with workspace snapshot attribute views
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

Test producer logic for the gobbler
  lib/gobbler-server/tests/integration_test/connection.rs
  lib/gobbler-server/tests/integration_test/mod.rs
  lib/gobbler-server/tests/integration_test/produce_and_consume.rs
  lib/si-rabbitmq/src/connection.rs
  lib/si-rabbitmq/src/consumer.rs
  lib/si-rabbitmq/src/lib.rs
  lib/si-rabbitmq/src/producer.rs
Labels: none

Use consistent naming for EdgeWeightKind variants
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

Return proper Err for invalid write location building attribute view
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

feat(web) - middle click closes tabs
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: none

fix(web) - scrollbars on MultiSelectDetailsPanel and EdgeDetailsPanel
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/MultiSelectDetailsPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
Labels: A-web

feat(web) - shift select multiple ComponentOutline
  app/web/src/components/ComponentOutline/ComponentOutline.vue
Labels: A-web

feat(web) - GenericDiagram hotkeys for zoom
  app/web/src/components/GenericDiagram/DiagramHelpModal.vue
  app/web/src/components/GenericDiagram/GenericDiagram.vue
Labels: A-web

feat(web) - edges selection adjustments
  app/web/src/components/GenericDiagram/DiagramEdge.vue
  app/web/src/components/GenericDiagram/DiagramHelpModal.vue
Labels: A-web

fix(web) - shift right click behavior fix
  app/web/src/components/GenericDiagram/GenericDiagram.vue
Labels: A-web

WIP: try out using the attribute value view in an integration test
  Cargo.lock
  lib/content-store-test/src/lib.rs
  lib/content-store/src/lib.rs
  lib/content-store/src/store.rs
  lib/content-store/src/store/local.rs
  lib/content-store/src/store/pg.rs
  lib/content-store/src/store/pg/tools.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge/content_store.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge/rebaser.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge/workspace_snapshot.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/server/change_set_loop.rs
Labels: A-cyclone, A-sdf, A-veritech, A-pinga, A-council, A-bytes-lines-codec, A-config-file, A-dal, A-dal-test, A-deadpool-cyclone, A-si-data-faktory, A-si-data-nats, A-si-data-pg, A-si-settings, A-si-std, A-si-test-macros, A-telemetry-application-rs, A-telemetry-rs

.github/labeler.yml:

---
#
# Project infrastructure
#
A-ci:
  - .ci/**/*
  - .github/**/*
  - Makefile
  - ./**/Makefile
A-docs:
  - docs/**/*

#
# System Initiative apps (i.e. webapps/ios apps/android apps)
#
A-web:
  - app/web/**/*
  - .prettierrc.js

#
# System Initiative bins (i.e. services/programs/binaries)
#
A-cyclone:
  - bin/cyclone/**/*
  - lib/cyclone-client/**/*
  - lib/cyclone-core/**/*
  - lib/cyclone-server/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-sdf:
  - bin/sdf/**/*
  - lib/sdf/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-veritech:
  - bin/veritech/**/*
  - lib/veritech-client/**/*
  - lib/veritech-core/**/*
  - lib/veritech-server/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-pinga:
  - bin/pinga/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-council:
  - bin/council/**/*
  - lib/council/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml

A-lang-js:
  - bin/lang-js/**/*
  - .prettierrc.js
A-si-discord-bot:
  - bin/si-discord-bot/**/*
  - .prettierrc.js

#
# System Initiative libs (i.e. crates/packages/libraries)
#
A-bytes-lines-codec:
  - lib/bytes-lines-codec/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-config-file:
  - lib/config-file/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-dal:
  - lib/dal/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-dal-test:
  - lib/dal-test/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-deadpool-cyclone:
  - lib/deadpool-cyclone/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-si-data-faktory:
  - lib/si-data-faktory/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-si-data-nats:
  - lib/si-data-nats/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-si-data-pg:
  - lib/si-data-pg/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-si-settings:
  - lib/si-settings/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-si-std:
  - lib/si-std/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-si-test-macros:
  - lib/si-test-macros/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-telemetry-application-rs:
  - lib/telemetry-application-rs/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml
A-telemetry-rs:
  - lib/telemetry-rs/**/*
  - .cargo/**/*
  - Cargo.lock
  - rust-toolchain
  - rustfmt.toml

#
# Third-party development images
#
A-nats:
  - component/nats/**/*
A-otelcol:
  - component/otelcol/**/*
A-postgres:
  - component/postgres/**/*
A-skopeo:
  - component/skopeo/**/*
